.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
}

.mapWrapper {
  height: 100%;
  transition: margin 0.15s, height 0.15s;
}

.searchWrapper {
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;
  z-index: 1000;
}
