.enter {
  opacity: 0;
  transition: opacity 0.15s 0.15s;
}

.enterActive {
  opacity: 1;
}

.exit {
  opacity: 1;
  transition: opacity 0.15s;
}

.exitActive {
  opacity: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
