.wrapper {
  padding: 24px;
}

.header {
  :global {
    .ant-page-header-heading-extra,
    .ant-space-item {
      display: flex;
      align-items: center;
    }
  }
}

.logout {
  color: #ff4d4f;
  font-size: 20px;
  margin: 0 auto;
}
